#svg-container {
  width: 1024px;
  height: 800px;
  margin: auto;
}

svg {
  display: inline;
  width: inherit;
  height: inherit;
  min-width: inherit;
  max-width: inherit;
  min-height: inherit;
  max-height: inherit;
}

polyline[type="female"] {
  fill: red;
}

polyline[type="male"] {
  fill: yellow;
}

polyline[type="kid"] {
  fill: green;
}

g[fill="white"] polyline:hover {
  fill: red;
}

.selected {
  stroke-width: 2px;
  stroke: blue;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}